@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: whitesmoke;
        font-family: 'Poppins', sans-serif;
    }

    header, footer {
        background-color: rgb(243, 215, 202);
    }
}